.videos{
    padding: 20px 0;
    grid-column: 2/-1;
}

.videos > .videos__container{
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
    gap:1fr;
    row-gap: 2rem;
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.videos > h2{
    margin-bottom: 25px;
}


