.videos{
    padding: 2rem;
    grid-column: 2/-1;
}

.videos > .videos__container{    
    gap:1fr;
    row-gap: 2rem;
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.videos > h2{
    margin-bottom: 25px;
}


