.btn{
    background: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin: auto;
    outline: none;
}

.btn:hover{
    background: gray;
    color: white;
    border: none;
}