.sidebar{
    background: var(--light-background-color);
    position: fixed;
    height: 100vh;
    grid-column: 1/2;
    margin-top: 75px;
    overflow: auto;
}
.sidebar > hr{
    height: 0.1px;
    background-color: lightgray;
    margin: 10px 0;
    border: 0;
}