.searchResults{
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
}

.searchResults > h2{
    margin: 20px 0;
}
.searchResults__container{
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}


@media screen and (max-width: 550px) {
    .searchResults{
        align-items: center;
    }
    .searchResults__container{
        margin-right: 0px;
        gap: 3rem;
    }
  }



