.searchResult{
    display: flex;
    gap:20px;
    cursor: pointer;
}

.searchResult__info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.searchResult__info__title{
    font-size: 18px;
}

.searchResult__info__uploadtime,.searchResult__info__channeltitle,.searchResult__info__description{
    color: gray;
    font-size: 14px;
}



.search__channel__img > img{
    border-radius: 50%;
    margin:0 35px;
}

.channel__info{
    margin-top: 20px;
    margin-left: 20px;
}


@media screen and (max-width: 550px) {
    .searchResult{
        flex-direction: column;
        align-items: center;
    }
    .searchResult__info{
        max-width: 80%;
    }
  }